client_apps/canvas_quizzes/dist/
client_apps/canvas_quizzes/tmp/
config/*.yml.example
log/
public/dist/
public/doc/
public/javascripts/client_apps/
public/javascripts/compiled/
public/javascripts/jst/
public/javascripts/jsx/
public/javascripts/translations/
!public/javascripts/translations/_core_en.js
public/optimized/
public/webpack-dist/
public/webpack-dist-optimized/
spec/javascripts/compiled/
spec/javascripts/webpack/
tmp/
vendor/bundle/
docker-compose.*
Dockerfile
mkmf.log
.codeclimate.yml
.editorconfig
.eslint*
.git*
.jshintrc
.stylelintrc
.travis.yml
karma.conf.js

*.md
*.env
**/node_modules/
